@charset "UTF-8";
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display+SC:wght@400;700&family=Roboto:wght@400;700&display=swap");
:root {
  --ff-open-sans: "Open Sans", sans-serif;
  --ff-playfair: "Playfair Display SC", serif;
  --ff-search-roboto: "Roboto", sans-serif;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #808080;
  --primary-white-text: #ffffff;
  --primary-white-text-op: #ffffffcc;
  --primary-black-text: #000000;
  --secondary-grey-text: #808080;
  --title-color: #808080;
  --color-border: #808080;
  --color-border-lighter: #bcbcbc;
  --sub-grey-darker: #606060;
  --input-text: 18px;
  --primary-text-size: 16px;
  --bg-overlay: #80808080;
  --links-color: #000000;
  --links-hover: #789cc3;
}

/* ============================================= */
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  transition: all 0.3s;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* header */
.header {
  position: relative;
  min-height: 100vh;
}
.header__top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  padding: 14px 0;
  transition: transform 0.2s ease-in;
}
.header__bot {
  position: relative;
  color: var(--primary-white-text);
}
.header__bot::after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-overlay);
}
.header__bot h1 {
  font-family: var(--ff-playfair);
  font-size: 96px;
  font-weight: 700;
  line-height: 128px;
}
.header__bot p {
  font-family: var(--ff-open-sans);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  max-width: 518px;
  text-align: center;
}
.header__text-over {
  position: relative;
  z-index: 5;
  display: flex;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header__top.hide {
  transform: translateY(-90px);
}

.header-top__container {
  max-width: 1295px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top__info {
  display: flex;
  align-items: center;
  column-gap: 35px;
}
.header-top__languages {
  display: flex;
  column-gap: 5px;
}
.header-top__burger-menu path {
  transition: all 0.3s;
}
.header-top__burger-menu:hover path {
  fill: var(--secondary-grey-text);
}

.contacts {
  display: flex;
  align-items: center;
  column-gap: 35px;
}

.contacts-item a {
  display: flex;
  align-items: center;
}
.contacts-item a:hover {
  color: var(--links-hover);
}

.languages label {
  padding: 3px 1px;
  color: var(--secondary-grey-text);
}
.languages label > input {
  display: none;
}
.languages__item--active {
  outline: 1px solid var(--color-border-lighter);
}

.home-bg {
  position: relative;
  background-image: url("../img/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

/* end header */
label {
  cursor: pointer;
}

a {
  transition: all 0.3s;
  color: var(--links-color);
}

button {
  background: transparent;
}

body {
  padding-top: 88px;
  font-family: var(--ff-open-sans);
  font-size: var(--primary-text-size);
  background: var(--primary-bg-color);
}

.title {
  font-family: var(--ff-playfair);
  color: var(--title-color);
  font-size: 35px;
  font-weight: 400;
  line-height: 47px;
}

p {
  font-family: var(--ff-open-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 1 auto;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 1 auto;
}

.container {
  max-width: 1256px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Main */
.about {
  padding: 75px 0 90px;
}

.about-info__description {
  line-height: 32px;
}

/* ============================================= */

/*# sourceMappingURL=style.css.map */
