.header-contacts {
  .header-contacts-h1 {
    font-size: 86px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  p.header-contacts-p {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 120px;
  }

  .header-arrow-scroll {
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    span {
      font-size: 18px;
      text-transform: uppercase;
      line-height: 25px;
      font-weight: 400;
    }
  }

  .header__bot {
    padding-top: 144px;
  }

  .header__text-over {
    justify-content: space-between;
  }

  .header-arrow-scroll {
    position: static;
  }
}

.header-contacts-socials {
  display: flex;
  column-gap: 15px;
  margin-bottom: 53px;
  &__link {
    &:hover {
      transform: scale(110%);
    }
  }
}

.header-contacts-arrow {
  &__mob {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-contacts {
    .header-contacts-h1 {
      font-size: 54px;
      line-height: 60px;
      margin-bottom: 15px;
    }

    .header__text-over {
      justify-content: center;
    }

    p.header-contacts-p {
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
    }

    .header-arrow-scroll {
      row-gap: unset;
      position: absolute;
      bottom: 0;
      span {
        font-size: 12px;
        font-weight: 400;
        line-height: 30px;
      }
    }
  }
  .header-contacts-arrow {
    &__desk {
      display: none;
    }
    &__mob {
      display: block;
    }
  }
  .header-contacts-socials {
    display: none;
  }
}

@media (max-width: 376px) {
  .header-contacts {
    .header-contacts-h1 {
      font-size: 35px;
      line-height: 46px;
      margin-bottom: 17px;
    }
    p.header-contacts-p {
      font-size: 13px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 400px;
    }
  }
}
