.header-contacts {
  .header-contacts-h1 {
    font-size: 86px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  p.header-contacts-p {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 120px;
  }

  .header__text-over {
    justify-content: unset;
  }

  .header-arrow-scroll {
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    position: static;
    span {
      font-size: 18px;
      text-transform: uppercase;
      line-height: 25px;
      font-weight: 400;
    }
  }

  .header-arrow-scroll {
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    span {
      font-size: 18px;
      text-transform: uppercase;
      line-height: 25px;
      font-weight: 400;
    }
  }
}

.contacts-bg {
  padding-top: 144px;
}

.header-contacts-socials {
  display: flex;
  column-gap: 15px;
  margin-bottom: 53px;
  &__link {
    &:hover {
      transform: scale(110%);
    }
  }
}

.header-contacts-arrow {
  &__mob {
    display: none;
  }
}

.main-contacts {
  .owner {
    padding: 91px 0 121px;
    &__body {
      flex-direction: row;
      column-gap: 51px;
    }
  }
  .owner-info {
    &__description {
      margin-bottom: 33px;
      p:first-child {
        margin-bottom: 33px;
      }
    }
    &__languages {
      margin: 0;
    }
  }
}

@media (max-width: 1050px) {
  .main-contacts {
    .owner div.owner__body {
      flex-direction: column;
    }

    .owner {
      padding: 55px 0 43px;
    }

    .owner-info {
      &__description {
        margin-bottom: 30px;
      }
    }
    .box-container {
      row-gap: 36px;
    }
  }
}

@media (max-width: 975px) {
  // .header-contacts {
  //   .header__text-over {
  //     justify-content: center;
  //   }
  // }
}

@media (max-width: 600px) {
  .header-contacts {
    .header-contacts-h1 {
      font-size: 54px;
      line-height: 60px;
      margin-bottom: 15px;
    }

    p.header-contacts-p {
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
    }

    .header-arrow-scroll {
      row-gap: unset;
      // position: absolute;
      // bottom: 0;
      span {
        font-size: 12px;
        font-weight: 400;
        line-height: 30px;
      }
    }
  }

  .header-contacts-arrow {
    &__desk {
      display: none;
    }
    &__mob {
      display: block;
    }
  }
  .header-contacts-socials {
    display: none;
  }
}

@media (max-width: 376px) {
  .header-contacts {
    .header-contacts-h1 {
      font-size: 35px;
      line-height: 46px;
      margin-bottom: 17px;
    }
    p.header-contacts-p {
      font-size: 13px;
      font-weight: 700;
      line-height: 25px;
    }
  }
}
