/* FOOTER */

.footer {
  background: var(--secondary-bg-color);
  padding: 32px 0;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    margin-bottom: 18px;
  }
  &__socials {
    transition: all 300ms;
    transform: translateX(-5px);
    margin-bottom: 23px;
    svg {
      transition: all 400ms;
      &:hover {
        transform: scale(120%);
      }
    }
  }
  &__copyright {
    color: var(--primary-white-text);
    font-size: 14px;
    font-family: var(--ff-open-sans);
  }
}
.footer-left-logo {
  margin-right: 22px;
}
/* END FOOTER */

/* RESPONSIVE */
@media (max-width: 600px) {
  .footer {
    padding: 28px 0 13px;
    &__logo {
      margin-bottom: 30px;
    }
    &__socials {
      margin-bottom: 30px;
      a {
        display: inline-block;
      }
      svg {
        width: 43px;
        height: 43px;
      }
    }
    &__copyright {
      text-align: center;
      line-height: normal;
    }
  }
  .footer-left-logo {
    margin-right: 33px;
  }
}

/* END RESPONSIVE */
