/* header */

.header {
  position: relative;
  height: 100vh;

  &__top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    padding: 14px 0;
    transition: transform 0.2s ease-in;
    box-shadow: 0px 0px 5px var(--bg-overlay);
    img {
      @include drop-shadow();
    }
  }

  &__bot {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    padding-bottom: 25px;
    color: var(--primary-white-text);
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--bg-overlay);
    }
    h1 {
      font-family: var(--ff-playfair);
      font-size: 96px;
      font-weight: 700;
      line-height: 128px;
    }
    p {
      font-family: var(--ff-open-sans);
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      max-width: 518px;
      text-align: center;
    }
  }
  &__text-over {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    h1 {
      margin-bottom: 9px;
    }
  }
  &__arrow-mobile {
    display: none;
  }
}

.header-arrow-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;

  span {
    color: var(--primary-white-text);
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }
}

.header__top.hide {
  transform: translateY(-90px);
}

.header-top {
  &__container {
    max-width: 1295px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: 35px;
  }

  &__mob-logo {
    display: none;
  }
  &__languages {
    display: flex;
    column-gap: 5px;
  }
  &__burger-menu {
    path {
      transition: all 0.3s;
    }
    &:hover {
      path {
        fill: var(--secondary-grey-text);
      }
    }
  }
}

.contacts {
  display: flex;
  align-items: center;
  column-gap: 35px;
}

.contacts-item a {
  &:hover {
    color: var(--links-hover);
  }
  display: flex;
  align-items: center;
}

.languages {
  label {
    padding: 3px 1px;
    color: var(--secondary-grey-text);
  }
  label > input {
    display: none;
  }
  &__item--active {
    outline: 1px solid var(--color-border-lighter);
  }
}

.home-bg {
  background-image: url("../img/bg-main.jpg");
}
.nbuilds-bg {
  background-image: url(../img/bg-newbuildings.jpg);
}

.contacts-bg {
  background-image: url("../img/contacts-hero-bg.jpg");
  background-position: center right;
}

.resale-bg {
  background-image: url("../img/resale-bg.jpg");
}

.sotogrande-bg {
  background-image: url("../img/sotogrande-bg.jpg");
}

.rent-bg {
  background-image: url("../img/rent-bg.jpg");
}

/* end header */

/* RESPONSIVE */
@media (max-width: 1260px) {
  .header {
    &__text-over {
      h1 {
        font-size: 76px;
        line-height: 92px;
        text-align: center;
      }
      p {
        font-size: 14px;
        text-transform: uppercase;
        max-width: 460px;
      }
    }
  }
  .header-top {
    &__info {
      column-gap: 25px;
    }
    &__contacts {
      column-gap: 20px;
    }
  }
}
@media (max-width: 1050px) {
  .contacts,
  .languages {
    display: none;
  }
}

@media (max-width: 975px) {
  .contacts-bg {
    background-image: url("../img/mob-bg-kuzmina-edited.jpg");
    background-position: center center;
  }
}

@media (max-width: 600px) {
  body.body {
    padding-top: 0px;
  }

  .header {
    height: 100vh;
    &__text-over {
      h1 {
        font-size: 35px;
        line-height: 47px;
      }
      p {
        font-size: 13px;
        line-height: 30px;
        padding: 0 33px;
      }
    }
    &__arrow-mobile {
      position: absolute;
      bottom: 0;
      display: block;
    }
  }

  .header-top {
    background-color: transparent;
    color: var(--primary-white-text-op);
    padding: 32px 0px 0px;
    position: absolute;
    box-shadow: none;
    &__container {
      padding: 0px 22px;
    }
    &__mob-logo {
      display: block;
    }
    &__desk-logo {
      display: none;
    }
    &__burger-menu {
      path {
        fill: var(--primary-white-text);
      }
      &:hover {
        path {
          fill: var(--mob-menu-hover);
        }
      }
    }
  }
}
/* END RESPONSIVE */
