// .body-object {
// }

.main-object {
  padding-top: 35px;
  .search-block {
    margin-bottom: 50px;
    &__backto-btn {
      display: none;
      padding: 7px 13px;
      line-height: 16px;

      svg path {
        transition: all 0.4s;
      }

      &:hover {
        svg path {
          fill: var(--btn-hover-border-color);
        }
      }
    }

    &__text {
      font-family: var(--ff-search-roboto);
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
      letter-spacing: normal;
    }
  }

  .form {
    padding-bottom: 63px;
    &__title {
      font-weight: 700;
      line-height: 28px;
      text-align: center;
    }

    &__v-code {
      padding: 8px 13px;
      &::placeholder {
        color: var(--secondary-grey-text);
      }
    }
  }
}

.object {
  margin-bottom: 37px;

  &__title-mob {
    display: none;
  }

  &__top {
    margin-bottom: 45px;
    display: flex;
    column-gap: 17px;
  }

  &__slider {
    margin-bottom: 12px;
    height: 440px;
  }

  &__slider-block {
    min-width: 0;
    flex: 1 1 calc(100% - 307px - 17px);
    &:hover {
      .slide-arrow {
        opacity: 1;
        visibility: visible;
        transform: scale(100%);
      }
    }
  }

  // &__pic {
  //   position: relative;
  // }

  &__pic-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__big-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // &__img-screen {
  //   position: relative;
  // }

  &__about-table {
    flex: 1 1 calc((100% - 911px) - 17px);
  }

  &__img-screen {
    // flex-grow: 0;
  }

  &__img-screen,
  &__pic {
    position: relative;
    cursor: pointer;
  }

  &__row {
    height: 86px;
    // display: grid;
    // grid-template-columns: repeat(7, 1fr);
    // grid-template-rows: 80px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__pic--slideshow::after {
    content: url("../img/icons/slide-show.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--bg-overlay);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
  }
}

.swiper-slide-thumb-active {
  .object__pic-item {
    border: 2px solid var(--object-slider-active);
  }
}

.object-table-hidden {
  display: none;
}

.object-table {
  height: 100%;
  font-family: var(--ff-open-sans);
  @include card-box-shadow();

  &__price {
    padding: 12px 0;
    color: var(--primary-white-text);
    background: var(--btn-color);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }

  &__string {
    border-bottom: 1px solid var(--color-border-lighter);
    padding: 0px 23px 0px 42px;
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
    font-size: 14px;
    line-height: 52px;
    color: var(--sub-grey-darker);
    &:last-child {
      border-bottom: none;
    }
  }

  &__index {
    font-weight: 700;
  }

  &__value {
    font-weight: 400;
  }
}

@media (max-width: 1260px) {
  .object {
    &__about-table {
      display: none;
    }

    &__bot {
      position: relative;
    }

    &__description {
      line-height: 25px;
      text-align: justify;
    }
  }

  .object-table-hidden {
    display: block;
    float: right;
    width: 300px;
    margin: 0 0 0 25px;
  }

  .form {
    clear: both;
  }
}

@media (max-width: 975px) {
  .main-object {
    .search-block {
      align-items: normal;
      max-width: 600px;
      margin: 0 auto 40px;
      &__backto-btn {
        display: flex;
        align-items: center;
        column-gap: 14px;
      }
    }
    .form {
      padding-bottom: 53px;
      &__title {
        text-align: center;
        font-size: 30px;
        line-height: 35px;
      }
    }
  }
}

@media (max-width: 900px) {
  .main-object {
    .form {
      &__subtitle {
        max-width: 598px;
        margin: 0 auto 21px;
      }
    }

    .object {
      &__title-mob {
        margin-bottom: 26px;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        display: block;
      }
    }
  }
}

@media (max-width: 769px) {
  .object {
    margin-bottom: 28px;
    &__about-table {
      display: block;
    }

    &__slider {
      margin-bottom: 10px;
    }

    &__row {
      overflow-x: scroll;
    }

    &__top {
      flex-direction: column;
      row-gap: 15px;
      margin-bottom: 50px;
    }
  }

  .object-table {
    &__string {
      padding: 0 33px;
    }
  }

  .object-table-hidden {
    display: none;
  }
}

@media (max-width: 600px) {
  .body-object {
    padding: 0;

    .header-top {
      padding-top: 19px;
    }

    .header {
      height: 100%;
      &__top {
        position: static;
      }
    }

    .header-top {
      &__container {
        padding: 0 25px;
      }

      &__mob-logo {
        display: none;
      }

      &__desk-logo {
        max-width: 169px;
        height: auto;
        display: block;
      }

      &__burger-menu path {
        fill: var(--btn-color);
      }
    }
  }
  .search-block {
    &__btn {
      align-self: center;
    }
  }
}

@media (max-width: 376px) {
  .main-object {
    .form__title {
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 18px;
    }

    .form__subtitle {
      font-size: 14px;
    }
  }
}
