.body-rent {
  .header__text-over {
    h1 {
      margin-bottom: 40px;
    }
  }
}

.main-rent {
  padding: 34px 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.buildings-pages {
  margin-bottom: 55px;
  & > div {
    display: none;
  }
  & > div.buildings-pages--active {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
  }
}

@media (max-width: 600px) {
  .body-rent {
    .header__text-over {
      h1 {
        margin-bottom: 6px;
      }
      p {
        padding: 0 39px;
      }
    }
  }
}

@media (max-width: 376px) {
  .body-rent {
    .header__text-over {
      p {
        padding: 0 25px;
      }
    }
  }
}
