.body-resale {
  .header__text-over {
    justify-content: flex-start;
    padding-top: 180px;
  }
  .header__text-over h1 {
    margin-bottom: 31px;
    display: flex;
    flex-direction: column;
    line-height: 100px;
    text-align: center;
  }
}

.main-resale {
  .container {
    max-width: 1272px;
  }
  .buildings {
    padding: 30px 0 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
    justify-content: center;
    gap: 38px;
  }

  .card__title {
    font-size: 18px;
    text-align: center;
  }
}
