/* Variables */
:root {
  --ff-open-sans: "Open Sans", sans-serif;
  --ff-playfair: "Playfair Display SC", serif;
  --ff-search-roboto: "Roboto", sans-serif;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #808080;
  --primary-white-text: #ffffff;
  --primary-white-text-op: #ffffffcc;
  --primary-black-text: #000000;
  --secondary-grey-text: #808080;
  --btn-hover-border-color: #9f9f9f;
  --title-color: #808080;
  --color-border: #808080;
  --btn-color: #808080;
  --color-border-lighter: #bcbcbc;
  --sub-grey-darker: #606060;
  --card-title-grey-darker: #606060;
  --input-text: 18px;
  --primary-text-size: 16px;
  --bg-overlay: #80808080;
  --links-color: #000000;
  --links-hover: #789cc3;
}
/* ============================================= */

// Imports
@import "./_nullstyle.scss";
@import "./_mixins.scss";
@import "./_header.scss";
@import "./_footer.scss";
// =============================================

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display+SC:wght@400;700&family=Roboto:wght@400;700&display=swap");
// =============================================

label {
  cursor: pointer;
}

a {
  transition: all 0.3s;
  color: var(--links-color);
}

button {
  background: transparent;
}

body {
  padding-top: 88px;
  font-family: var(--ff-open-sans);
  font-size: var(--primary-text-size);
  background: var(--primary-bg-color);
}

.title {
  font-family: var(--ff-playfair);
  color: var(--title-color);
  font-size: 35px;
  font-weight: 400;
  line-height: 47px;
}
sup {
  font-size: 10px;
}
p {
  font-family: var(--ff-open-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.btn {
  color: var(--primary-white-text);
  background: var(--btn-color);
  text-align: center;
  font-size: 18px;
  font-family: var(--ff-playfair);
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 3.6px;
  border: 1px solid var(--btn-color);
  text-transform: uppercase;
  &:hover {
    color: var(--secondary-grey-text);
    background-color: var(--primary-bg-color);
    @include btn-box-shadow();
    border: 1px solid var(--btn-hover-border-color);
  }
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  flex: 0 1 auto;
}
.main {
  flex: 1 1 auto;
}
.footer {
  flex: 0 1 auto;
}

.container {
  max-width: 1256px;
  padding: 0 10px;
  margin: 0 auto;
}
/* Main */
.about {
  // width: 100%;
  padding: 75px 0 90px;
  &__body {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
}

.about-info {
  flex: 0 1 574px;
  &__description {
    line-height: 32px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__description {
    margin-bottom: 24px;
  }
  &__tribute {
    color: var(--secondary-grey-text);
    font-size: 18px;
    font-family: var(--ff-playfair);
    line-height: 28px;
    text-transform: uppercase;
  }
}

/* block 'img-block-border'*/
.img-block-border {
  display: flex;
  position: relative;
  justify-content: center;
  flex: 0 1 492px;

  &__img {
    @include box-shadow();
    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__border {
    position: absolute;
    top: 56px;
    z-index: -1;
    height: 387px;
    width: 492px;
    border: 1px solid var(--color-border);
  }
}
/* end 'img-block-border'*/

/* section recommend */
.recommend {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--btn-color);
    padding: 0 0 55px 0;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__subtitle {
    margin-bottom: 27px;
    max-width: 530px;
    text-align: center;
  }
  &__btn {
    padding: 14px 22px;
  }
}
.slide-arrow {
  width: 29px;
  position: absolute;
  height: 34px;
  z-index: 5;
  background: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.recommend-objects {
  &__grid {
    margin-bottom: 65px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 30px;
    row-gap: 26px;
  }
  &__item {
    @include card-box-shadow();
    position: relative;
  }
  &__item-1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  &__item-2 {
    grid-area: 1 / 2 / 2 / 4;
  }
  &__item-3 {
    grid-area: 2 / 2 / 3 / 3;
  }
  &__item-4 {
    grid-area: 2 / 3 / 3 / 4;
  }
}

/* CARD */
.card {
  position: relative;
  transition: all 0.3s;
  height: 100%;
  &__bg img {
    transition: all 0.3s;
  }
  &:hover {
    .card__bg img {
      transform: scale(101%);
    }
    @include card-box-shadow-upper();
  }

  &__body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__bg {
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__price {
    span {
      margin-right: 5px;
    }
  }

  &__top {
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;
  }

  &__slide-left {
    top: 50%;
    left: 16px;
    margin-top: -17px;
  }
  &__slide-right {
    top: 50%;
    right: 16px;
    margin-top: -17px;
  }

  &__bot {
    flex: 0 1 auto;
    padding: 10px;
  }

  &__content {
    font-family: var(--ff-open-sans);
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include card-border();
  }

  &__id {
    line-height: 28px;
    font-size: 12px;
  }

  &__title {
    @include card-style-title();
  }

  &__price {
    font-weight: 600;
    line-height: 23px;
    display: flex;
    align-items: center;
  }

  &__size-room {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    display: flex;
    column-gap: 30px;
  }
  &__terrace {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
  }
}

/* END CARD */

/* end recommend*/

/* INSTAGRAM */

/* END INSTAGRAM */

/* ============================================= */
