/* Variables */
:root {
  --ff-open-sans: "Open Sans", sans-serif;
  --ff-playfair: "Playfair Display SC", serif;
  --ff-search-roboto: "Roboto", sans-serif;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #808080;
  --primary-white-text: #ffffff;
  --primary-white-text-op: #ffffffcc;
  --primary-black-text: #000000;
  --secondary-grey-text: #808080;
  --title-color: #808080;
  --color-border: #808080;
  --color-border-lighter: #bcbcbc;
  --sub-grey-darker: #606060;
  --input-text: 18px;
  --primary-text-size: 16px;
  --bg-overlay: #80808080;
  --links-color: #000000;
  --links-hover: #789cc3;
}
/* ============================================= */

// Imports
@import "./_nullstyle.scss";
@import "./_mixins.scss";
@import "./_header.scss";
@import "./_footer.scss";
// =============================================

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display+SC:wght@400;700&family=Roboto:wght@400;700&display=swap");
// =============================================

label {
  cursor: pointer;
}

a {
  transition: all 0.3s;
  color: var(--links-color);
}

button {
  background: transparent;
}

body {
  padding-top: 88px;
  font-family: var(--ff-open-sans);
  font-size: var(--primary-text-size);
  background: var(--primary-bg-color);
}

.title {
  font-family: var(--ff-playfair);
  color: var(--title-color);
  font-size: 35px;
  font-weight: 400;
  line-height: 47px;
}

p {
  font-family: var(--ff-open-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  flex: 0 1 auto;
}
.main {
  flex: 1 1 auto;
}
.footer {
  flex: 0 1 auto;
}

.container {
  max-width: 1256px;
  padding: 0 10px;
  margin: 0 auto;
}
/* Main */
.about {
  // width: 100%;
  padding: 75px 0 90px;
  &__body {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
}

.about-info {
  flex: 0 1 574px;
  &__description {
    line-height: 32px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__description {
    margin-bottom: 24px;
  }
  &__tribute {
    color: var(--secondary-grey-text);
    font-size: 18px;
    font-family: var(--ff-playfair);
    line-height: 28px;
    text-transform: uppercase;
  }
}

// Start 'img-block-border'

.img-block-border {
  display: flex;
  position: relative;
  justify-content: center;
  flex: 0 1 492px;

  &__img {
    @include box-shadow();
    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__border {
    position: absolute;
    top: 56px;
    z-index: -1;
    height: 387px;
    width: 492px;
    border: 1px solid var(--color-border);
  }
}

// End 'img-block-border'

/* ============================================= */
